

<header>
    <div class="background">
        <p class="title">
            lainpilled        
        </p>
    </div>
    

</header>
<style>
    .title {
        color:aliceblue;
        font-size: x-large;
        margin-top: 0.5rem;
    }
    .background{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 10rem;
        background-image: url("/src/assets/lainBackground.gif");
    }
</style>