---
import Layout from "../layouts/Layout.astro";
import MySetupRender from "../components/MySetupRender.astro";
import { mysetup_menu_items } from "../content/data.astro";
const items = mysetup_menu_items
---

<Layout title="lainpilled my setup" menuItems={items}>
    <article>
        <h2>My setup</h2>
        <p>a descrition (opcional)</p>
    </article>

<MySetupRender/>
</Layout>

<style>
    article{
        text-align: center;
    }
    h2{
        color:rgb(0, 161, 219);
        font-size: 2rem;
    }
    p{
        text-wrap-style: balance;
        color:white;
    }
</style>

