---
import Layout from "../layouts/Layout.astro";
import MySetupRender from "../components/MySetupRender.astro";
const items = [
    { title: "links", link: "/lainpilled/links" },
    { title: "pictures", link: "/lainpilled/pictures" },
    { title: "music", link: "/lainpilled/music" },
    { title: "home", link: "/lainpilled/" },
];
---

<Layout title="lainpilled my setup" menuItems={items}>
    <article>
        <h2>My setup</h2>
        <p>a descrition (opcional)</p>
    </article>

<MySetupRender/>
</Layout>

<style>
    article{
        text-align: center;
    }
    h2{
        color:rgb(0, 161, 219);
        font-size: 2rem;
    }
    p{
        text-wrap-style: balance;
        color:white;
    }
</style>

