---
import Layout from "../layouts/Layout.astro";
import Imgs from "../components/Imgs.astro";
import {pictures_menu_items} from "../content/data.astro"
const items = pictures_menu_items

---

<Layout title="lainpilled pictures" menuItems={items}>
            <h2>My pictures</h2>
            <Imgs/>
            <hr/>
</Layout>

<style>
    h2{
		text-align: center;
		font-size: xx-large;
		background-color: rgba(70,100,150,0.1);
	}
    hr {
        border: 0px;
        margin-block: 6rem;
    }
    .content {
        justify-content: space-between;
        height: auto;
    }
</style>
