---
const { entry, children } = Astro.props;
---

<article class="post">
  <header>
    <h1>{entry.data.title}</h1>
    <p>
      <date datetime={entry.data.date?.toISOString()}>
        {entry.data.date?.toDateString() || 'Fecha no disponible'}
      </date>
    </p>
  </header>
  <div class="content">
    <slot/>
  </div>
</article>

<style>
  h1{
    color:#072733ff;
  }
  header{
    display: flex;
    justify-content: space-between;
  }
  article{
    padding: 1rem;
    margin: 2em;
		background-color: rgba(70,100,150,0.1);
    border-radius: 1rem;
  }
  .content{
    padding: 0.5rem;
  }
</style>
