<footer>
    <p>&copy 2024 Lainpilled. <a href="https://github.com/primalxaxa/lainwebsite">source code</a></p>
    <p id="monero" class="monero">Monero SMR: 454c2q6ZesJj7NiMgxwH8Gc1wTqExptJHChtuXb6sMUw2575LZ2P6AmKpLh5LB9Ldp8amPWHo8xmbGVqaNSVp3JJMhQ46My</p>
    <p id="bitcoin" class="bitcoin">Bitcoin BTC: bc1q4gtqxk7ltvz4zplz95mv254yd0v626fzqw8mdl</p>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let monero = document.getElementById('monero');
        monero?.addEventListener('click', () => {
            navigator.clipboard.writeText('454c2q6ZesJj7NiMgxwH8Gc1wTqExptJHChtuXb6sMUw2575LZ2P6AmKpLh5LB9Ldp8amPWHo8xmbGVqaNSVp3JJMhQ46My');
            alert('wallet copied');
        });
    
        let bitcoin = document.getElementById('bitcoin');
        bitcoin?.addEventListener('click', () => {
            navigator.clipboard.writeText('bc1q4gtqxk7ltvz4zplz95mv254yd0v626fzqw8mdl');
            alert('wallet copied');
        });
    });
    </script>
    

<style>
    .monero, .bitcoin{
        cursor: pointer;
    }
    p{
        margin-block-end: 1rem;
        margin-inline: 1rem;
        border-radius: 0.3rem;
        border: 1pt solid #486975;
        background-color: #213c46;
        padding: 10px;
    }
    
    p:last-child{
        margin-bottom: 0.2rem;
    }
    footer{
        text-align: center;
        background-color: #072733ff ;
        padding-block: 1.1rem;
        word-wrap: break-word;
    }
    a{
        color:mediumslateblue;
    }
</style>