---
import Background from '../components/Background.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import LainBeloved from '../components/LainBeloved.astro';
import {defaultItems} from "../content/data.astro"
interface Props {
	title: string;
	menuItems?: { title: string; link: string }[];
}



const { title, menuItems=defaultItems } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="This main page is dedicated to providing updates on the website for anyone who visits to see. It is a great way for me to document my progress as well.This website is a passion project of mine and just contains stuff that I think is cool or I am interested in."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="robots" content="index">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="content">
			<Header items={menuItems}/>
			<Background>
				<slot />
				<LainBeloved/>
				<Footer />
			</Background>
		</div>
	</body>
</html>
<style is:global>
	.content{
		display: flex;
		flex-direction: column;
	}
	
	* {
		margin: 0;
	}
	:root {
		height: 100%;
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: monospace, Console;
		background: #13151a;
		color: honeydew;
		height: 100%;
	}
	body {
		margin: 0;
		display: flex;
		flex-direction: column;

	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	a{
		color: skyblue;
	}
</style>
